* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
}

.register-table {
    margin-top: 50px;
}

.w-75 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-table .register {
    background-color: rgb(223, 223, 223);
    color: black;
    padding: 5px 5px;
    border: 1px solid rgb(200, 200, 200);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.register-table .register-box {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

input {
    margin: 10px 10px 0px 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(200, 200, 200);
    font-size: 12px;
}

.register-table .register-box .btn-register {
    display: flex;
    justify-content: center;
}

.register-table .register-box .btn-register span {
    color: white;
    background-color: rgb(0, 180, 84);
    padding: 7px 90px 7px 90px;
    margin: 10px;
    border-radius: 10px;
    font-weight: 500;
}

.register-table .login {
    text-decoration: none;
    font-size: 12px;
    padding: 0px 5px 10px 10px;
}

.register-table .login a {
    color: rgb(0, 89, 255);
}