<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>Car_Park_Management_System</display-name>
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>fa.training.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>fa.training.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>fa.training.controller.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddBookingController</servlet-name>
		<servlet-class>fa.training.controller.AddBookingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBookingController</servlet-name>
		<url-pattern>/addBooking</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookingListController</servlet-name>
		<servlet-class>fa.training.controller.BookingListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingListController</servlet-name>
		<url-pattern>/bookingList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddEmployeeController</servlet-name>
		<servlet-class>fa.training.controller.AddEmployeeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEmployeeController</servlet-name>
		<url-pattern>/addEmployee</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmployeeListController</servlet-name>
		<servlet-class>fa.training.controller.EmployeeListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeListController</servlet-name>
		<url-pattern>/employeeList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCarController</servlet-name>
		<servlet-class>fa.training.controller.AddCarController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCarController</servlet-name>
		<url-pattern>/addCar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CarListController</servlet-name>
		<servlet-class>fa.training.controller.CarListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CarListController</servlet-name>
		<url-pattern>/carList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TripListController</servlet-name>
		<servlet-class>fa.training.controller.TripListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TripListController</servlet-name>
		<url-pattern>/tripList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddTripController</servlet-name>
		<servlet-class>fa.training.controller.AddTripController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTripController</servlet-name>
		<url-pattern>/addTrip</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TicketListController</servlet-name>
		<servlet-class>fa.training.controller.TicketListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TicketListController</servlet-name>
		<url-pattern>/ticketList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddTicketController</servlet-name>
		<servlet-class>fa.training.controller.AddTicketController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTicketController</servlet-name>
		<url-pattern>/addTicket</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddParkingController</servlet-name>
		<servlet-class>fa.training.controller.AddParkingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddParkingController</servlet-name>
		<url-pattern>/addParking</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ParkingLotListController</servlet-name>
		<servlet-class>fa.training.controller.ParkingLotListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ParkingLotListController</servlet-name>
		<url-pattern>/parkingList</url-pattern>
	</servlet-mapping>

</web-app>